* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 70vh;
    background-image: url("bg.jpg");
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
}

.container {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px 5px 0 0;
    text-align: center;
    padding: 1.5rem;
}



